<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--

  Copyright 2012 Tecsinapse
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 
-->
<plugin>
   <extension
   		point="org.eclipse.core.runtime.preferences">
   		<initializer class="br.com.tecsinapse.glimpse.preferences.GlimpsePreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
         <page
            class="br.com.tecsinapse.glimpse.preferences.GlimpsePreferencePage"
            id="br.com.tecsinapse.glimpse.preferences.GlimpsePreferencePage"
            name="Glimpse">
      </page>
   </extension>
   <extension
   		point="org.eclipse.debug.ui.launchShortcuts">
   		<shortcut
   			class="br.com.tecsinapse.glimpse.launch.RunGlimpseLaunchShortcut"
   			id="br.com.tecsinapse.glimpse.launch.runglimpse"
   			label="Glimpse Script"
   			modes="run">
   			<contextualLaunch>
            	<enablement>
               		<with
                     variable="selection">
	                  <count
	                        value="1">
	                  </count>
	                  <iterate>
	                     <and>
	                        <test
	                              forcePluginActivation="true"
	                              property="org.eclipse.debug.ui.matchesPattern"
	                              value="*.groovy">
	                        </test>
	                     </and>
	                  </iterate>
	               </with>
	            </enablement>
	         </contextualLaunch>
   		</shortcut>   		
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            name="Run Glimpse"
            description="Run Eclipse"
            categoryId="org.eclipse.debug.ui.category.run"
            id="br.com.tecsinapse.glimpse.launch.runglimpse.run">
      </command>
      <keyBinding
            keySequence="Ctrl+Shift+G"
            contextId="org.eclipse.ui.globalScope"
            commandId="br.com.tecsinapse.glimpse.launch.runglimpse.run"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <category
         	id="br.com.tecsinapse.glimpse.view.category"
         	name="Glimpse"/>
         <view
         	id="br.com.tecsinapse.glimpse.views.console"
         	name="Glimpse Console"
         	category="br.com.tecsinapse.glimpse.view.category"
         	class="br.com.tecsinapse.glimpse.views.ConsoleView"/>
         <view
         	id="br.com.tecsinapse.glimpse.views.repl"
         	name="Glimpse Repl"
         	category="br.com.tecsinapse.glimpse.view.category"
         	class="br.com.tecsinapse.glimpse.views.ReplView"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Starts a new repl, closing the current one (if it is not closed yet)"
            id="br.com.tecsinapse.glimpse.commands.reconnect"
            name="Reconnect">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="toolbar:br.com.tecsinapse.glimpse.views.repl">
            	<command
               commandId="br.com.tecsinapse.glimpse.commands.reconnect"
               icon="icons/reconnect.gif"
               style="push"
               tooltip="Starts a new repl, closing the current one (if it is not closed yet)">
         </command>
         </menuContribution>
   </extension>
	<extension
        point="org.eclipse.ui.handlers">
        <handler
           class="br.com.tecsinapse.glimpse.views.ReconnectReplHandler"
           commandId="br.com.tecsinapse.glimpse.commands.reconnect">
     	</handler>
    </extension>
</plugin>
