<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
   		point="org.eclipse.core.runtime.preferences">
   		<initializer class="br.com.tecsinapse.glimpse.preferences.GlimpsePreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
         <page
            class="br.com.tecsinapse.glimpse.preferences.GlimpsePreferencePage"
            id="br.com.tecsinapse.glimpse.preferences.GlimpsePreferencePage"
            name="Glimpse">
      </page>
   </extension>
   <extension
   		point="org.eclipse.debug.ui.launchShortcuts">
   		<shortcut
   			class="br.com.tecsinapse.glimpse.launch.RunGlimpseLaunchShortcut"
   			id="br.com.tecsinapse.glimpse.launch.runglimpse"
   			label="Glimpse Script"
   			modes="run">
   			<contextualLaunch>
            	<enablement>
               		<with
                     variable="selection">
	                  <count
	                        value="1">
	                  </count>
	                  <iterate>
	                     <and>
	                        <test
	                              forcePluginActivation="true"
	                              property="org.eclipse.debug.ui.matchesPattern"
	                              value="*.groovy">
	                        </test>
	                     </and>
	                  </iterate>
	               </with>
	            </enablement>
	         </contextualLaunch>
   		</shortcut>   		
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            name="Run Glimpse"
            description="Run Eclipse"
            categoryId="org.eclipse.debug.ui.category.run"
            id="br.com.tecsinapse.glimpse.launch.runglimpse.run">
      </command>
      <keyBinding
            keySequence="Ctrl+Shift+G"
            contextId="org.eclipse.ui.globalScope"
            commandId="br.com.tecsinapse.glimpse.launch.runglimpse.run"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <category
         	id="br.com.tecsinapse.glimpse.view.category"
         	name="Glimpse"/>
         <view
         	id="br.com.tecsinapse.glimpse.views.console"
         	name="Glimpse Console"
         	category="br.com.tecsinapse.glimpse.view.category"
         	class="br.com.tecsinapse.glimpse.views.ConsoleView"/>
         <view
         	id="br.com.tecsinapse.glimpse.views.repl"
         	name="Glimpse Repl"
         	category="br.com.tecsinapse.glimpse.view.category"
         	class="br.com.tecsinapse.glimpse.views.ReplView"/>
   </extension>

</plugin>
